# Build results
build/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.exe
*.dll
*.obj
*.pdb
*.ilk
*.log
*.tlog
*.idb
*.ipdb
*.iobj

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.ncb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# .NET
[Bb]in/
[Oo]bj/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Rider
.idea/
*.sln.iml

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CTestTestfile.cmake

# NSIS
*.nsis

# OS
.DS_Store
Thumbs.db
desktop.ini

# Output
VolumeBooster-Setup.exe
